<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/sass/main.css">
    <title>homer</title>
</head>
<body>
    <div id="main-nav">
        <div id="nav-logo"></div>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Programs</a>
                </li>
                <li>
                    <a href="#">Get Started</a>
                </li>
                <li>
                    <a href="#">Benefits</a>
                </li>
                <li>
                    <a href="#">Special Events</a>
                </li>
                <li>
                    <a href="#">Learning Center</a>
                </li>
                <li>
                    <a href="#">Z-University</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="main-content">
        <div id="header-img">
            <h1>Discover Your "ULTIMATE" You</h1>
            <p>
                Realize your personal best with the "ULTIMATE" in personalized martial arts instruction for me, women and children.
            </p>
            <p>
                One week FREE test drive! Includes two (2) private lessons and unlimited virtual group classes.
            </p>
            <a href="" class='btn'>FREE</a>
            <h5>** At participating locations only **</h5>
            <br>
            <img src="./incs/imgs/map.jpg" alt="">
            
        </div>
        <section id="primary-section">
            <div class="container">
                <h2>Mission Statement</h2>
                <p>
                    Our mission is to inspire the men, women, and children of our communities to realize their personal best. Through the timeless traditions of the martial arts in an enviornment, that is proudly built upon the more rewarding aspects of life: Respect, health & happiness.
                </p>

                <h2>About</h2>
                <p>
                    Z-Ultimate Self Defense Studios, is a part of a family formed with one goal in mind – to provide “Z-Ultimate” martial arts experience for students and their families by providing life changing and character building experiences. With locations in the Midwest and the West Coast, Z-Ultimate Self Defense Studios is one of the largest.
                </p>
                <p>

                What is unique about Z-Ultimate Self Defense Studios – besides it’s Dynamic Mastery Method™ of instruction – is a philosophy of leadership that teaches, “Be a product of what you represent”. Every single staff and support member of the Z-Ultimate Self Defense Studios family are martial artists and train actively. By doing so, we never are “out of touch” with what is happening in our locations because we are students, too.
            </p>

    <p>

        Z-Ultimate Self Defense Studios ensures “Z-Ultimate” martial arts experience and a world class level of quality and service for all Z-USDS family members.
    </p>
                
            </div>
        </section>
        <section class="information">
            <div class="container">
                <div class="info-card">
                    <div class="card-title"><h2>Ultimate Body</h2></div>
                    <img src="./incs/imgs/karate-1665606_1280.jpg" class='card-img' alt="">
                    <div class="card-main">
                        <p>
                            Martial arts training helps develop the "Ultimate" body - the perfect balance of size, strength, speed, power, balance, coordination, flexibility and endurance, regardless of age.
                        </p>
                    </div>
                    <div class="card-btn">
                        <a href="" class='btn'>Learn More</a>
                    </div>
                </div>
                <div class="info-card">
                    <div class="card-title"><h2>Ultimate Mind</h2></div>
                    <img src="./incs/imgs/karate-436924_1280.jpg" class='card-img' alt="">
                    <div class="card-main">
                        <p>
                            Self defense training is physically demanding. Our programs pushes people past what they think is possible. As the body grows stronger, so does the mind.
                        </p>
                    </div>
                    <div class="card-btn">
                        <a href="" class='btn'>Learn More</a>
                    </div>
                </div>
                <div class="info-card">
                    <div class="card-title"><h2>Ultimate Spirit</h2></div>
                    <img src="./incs/imgs/self-defense-5904590_1280.jpg" class='card-img' alt="">
                    <div class="card-main">
                        <p>
                            With a strong mind and strong body comes an indomitable spirit. When you know who you are and what you are capable of doing - there is nothing you can't do when you put your mind to it.
                        </p>
                    </div>
                    <div class="card-btn">
                        <a href="" class='btn'>Learn More</a>
                    </div>
                </div>
            </div>
        </section>

       

        <section class="information">
            <div class="container">
                <div class="animated-card">
                    <div class="animated-card-inner">
                        <h3>ADULTS</h3>
                        <p>Learn how to protect yourself and your loved ones while developing a functionally fit body and improving your total body wellness. Get in world-class shape AND learn valuable self defense skills with our martial arts program.</p>
                        <a href="#" class='btn'>Learn More</a>
                    </div>
                </div>
                <div class="animated-card">
                    <div class="animated-card-inner">
                        <h3>CHILDREN</h3>
                        <p>Karate is the #1 Personal Developlment program in the world for children. Discover how our personalized martial arts for kids program builds character and develops winners in life.</p>
                        <a href="#" class='btn'>Learn More</a>
                    </div>
                </div>
                <div class="animated-card">
                    <div class="animated-card-inner">
                        <h3>TEENS</h3>
                        <p>Our self defense for teens program provides a safe, structured environment for young adults mature, grow and develop relationships with their peers, all while learning valuable self defense skills.</p>
                        <a href="#" class='btn'>Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <footer id='main-footer'>
            
        </footer>
    </div>
</body>
</html>