@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Maitree:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
  color: #F0D43A;
}

p {
  font-family: 'Maitree', serif;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #171717;
}

.container {
  padding: 26px;
  height: 100%;
  width: 100%;
}

.btn {
  background: #F0D43A;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  color: #da0037;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  padding: 5px 50px;
  color: #F0D43A;
  background: #da0037;
}

#primary-section p {
  padding: 15px;
}

#header-img {
  background: black url("../../imgs/leslie-jones-urBiLDuUhMU-unsplash.jpg");
  background-repeat: no-repeat;
  margin: auto;
  padding: 26px;
  width: 100%;
  height: 130vh;
  background-size: 100% auto;
  text-align: center;
}

#header-img p {
  color: #ededed;
  font-size: 1.8rem;
  margin: 26px auto;
}

#header-img img {
  width: 30%;
  margin: 20px;
}

#header-img h5 {
  margin-top: 15px;
}

#main-content {
  width: 85%;
  height: 100%;
  float: right;
}

#main-nav {
  color: #da0037;
  position: fixed;
  float: left;
  height: 100vh;
  width: 15%;
  background: black;
  padding-top: 16px;
  border-right: solid 6px #F0D43A;
}

#main-nav nav ul {
  list-style: none;
  margin-top: 16px;
}

#main-nav nav ul li {
  padding: 3px 8px;
  margin: 5px 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-nav nav ul li:hover {
  background: #da0037;
}

#main-nav nav ul li:hover > a {
  color: #ededed;
}

#main-nav nav a {
  color: #da0037;
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-nav #nav-logo {
  background: url("../../imgs/z-ultimate-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 20%;
}

.information {
  width: 100%;
}

.information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.information .info-card {
  height: auto;
  width: 250px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
}

.information .info-card .card-title {
  width: 100%;
  height: 50px;
  border-radius: 10px 10px 0 0;
  background: #F0D43A;
  color: #ededed;
  font-size: 1.75rem;
  text-align: center;
}

.information .info-card .card-title h2 {
  color: #ededed;
  font-size: 1.5rem;
}

.information .info-card .card-img {
  width: 100%;
  height: auto;
}

.information .info-card .card-main {
  color: #171717;
  font-size: 0.75rem;
  padding: 6px;
}

.information .info-card .card-btn {
  text-align: center;
  padding: 6px;
}

.animated-card {
  height: 250px;
  width: 250px;
  background: url("../../imgs/karate-1665606_1280.jpg") no-repeat center;
  background-size: auto 100%;
  border-radius: 10px;
  margin: 40px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  position: relative;
}

.animated-card .animated-card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
  height: 13%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 5px 20px;
  -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.7);
}

.animated-card .animated-card-inner p {
  font-size: 0.75rem;
  line-height: 1rem;
}

.animated-card .animated-card-inner a {
  text-align: center;
}

.animated-card .animated-card-inner h3 {
  text-align: center;
}

.animated-card:hover > .animated-card-inner {
  height: 85%;
}

#main-footer {
  width: 100%;
  height: 25vh;
  background: #444444;
}
/*# sourceMappingURL=main.css.map */